.h-75vh{ 
  height:75vh;
}

.h-50vh{ 
  height:80vh;
}

/* Apply globally to all elements with overflow */
* {
  scrollbar-width: thin; /* Firefox - makes the scrollbar thinner */
  scrollbar-color: #b1b1b1 #f3f4f6; /* Firefox - sets thumb color and track color */
}

/* Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px; /* Set width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-track {
  background-color: #a4a4a5; /* Color of the scrollbar track */
  border-radius: 10px; /* Optional: rounded corners for the track */
}
