*{ 
  margin:0px;
  padding:0px;
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  /*hardcoded value change this value*/
  background-color: #F6F6F6;
}

code {
  font-family:'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;